<%= form_with(model: proyecto, local: true) do |form| %>
  <% if proyecto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(proyecto.errors.count, "error") %> prohibited this proyecto from being saved:</h2>

      <ul>
      <% proyecto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, 'Nombre:' %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description, 'Descripción:' %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :starting_date, 'Fecha de comienzo' %>
    <%= form.date_select :starting_date %>
  </div>

  <div class="field">
    <%= form.label :ending_date, 'Fecha de termino' %>
    <%= form.date_select :ending_date %>
  </div>

  <div class="field">
    <%= form.label :state, 'Estado' %>
    <%= form.select :state, [ 'Propuesta', 'En progreso', 'Terminado'] %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
